.heading{
    text-align: center;
    margin-top: 40px;
    color: whitesmoke;
}

.container{
    margin: auto;
    width: 70%;
    border: 10px solid darkcyan;
    border-radius: 8px;
}

.file{
    margin: 30px auto;
    padding: 30px;
    width: 80%;
    border: 2px dashed darkcyan;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: whitesmoke;
    color-scheme: light-dark;
}


.file-name{
    display: flex;
    padding-left: 30px;
    gap: 10px;
    color: whitesmoke;
}

.textarea {
    margin: 30px auto;
    font-size: 15px;
    padding: 30px;
    width: 80%;
    border: 2px solid darkcyan;
    border-radius: 8px;
    color: whitesmoke;
}



select{
    width: fit-content;
    background: #242424;
}

select::after {
    content: '';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
   
}

option {
    font-size: 15px;
    padding-top: 30px;
    border-top: 2px solid whitesmoke;
}


.format{
    padding: 10px 30px;
    border-radius: 10px;
    color: whitesmoke;
}

label div{
    color: whitesmoke;
}



.settings{
    padding: 30px;
    margin: 10px;
    gap: 20px;
}

.first, .second{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}

.second{
    margin-left: 20px;
}

.submit-container{
    padding: 30px;
}

.submit{
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    margin: auto;
    padding: 10px 30px;
    background: darkcyan;
    color: #fff;
    width: 120px;
}

.submit:hover {
    border-color: #e0e7e7;
}
.submit:focus,
.submit:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
