.explain-overlay{
    /* background-color: #161616; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.explain-modal{
    height: 500px;
    overflow-y: scroll;
    background: #161616;
    padding: 20px;
    /* border-radius: 10px; */
    max-width: 500px;
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: all 3s ease-in-out;
}

.explainbtn{
    margin-bottom: 20px;
}

.explained-text{
    color: #fff;
}
