.nav{
    display: flex;
    padding: 20px 50px 20px 50px;
    /* flex-wrap: nowrap; */
    /* position: sticky; */
    /* position: -webkit-sticky; */
    /* top: 0; */
    /* z-index: 1000; */
    /* background-image: linear-gradient( to right, rgb(15, 177, 177) ,darkcyan, darkcyan, darkcyan, rgb(105, 226, 226)); */
    /* background-color: darkcyan; */
    /* box-shadow: 0 4px 2px -2px gray; */
    transition: background-image 0.3s ease;
}

/* .navbar.scrolled {
    background-color: #fff;
    box-shadow: 0 4px 2px -2px gray;
} */

.logo{
    font-size: 40px;
    font-weight: 900;
    width: 25%;
    color: #fff;
}

.ellipse{
    color: #FFFF55C9;

}

.nav .active {
    color: #FFFF55C9;
  }

.middle{
    display: flex;
    /* justify-content: center;*/
    align-items: center; 
    gap: 70px;
    margin-left: auto;
    /* width: 50%; */
}

.home, .about, .contact{
    font-size: 20px;
    font-weight: 500;
    line-height: 25.2px;
    color:#fff;
    cursor: pointer;
}

.nav-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 25%;
    /* margin: auto; */
}

.entry{
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    /* margin-left: 20px; */
    padding: 5px 10px;
    /* background: whitesmoke; */
    /* width: 35%; */
}

.signin{
    background: none;
    border: 1px solid #FFFF55C9;
    color:#fff;
}

.signup{
    background: #FFFF55C9;
    color: #fff;
}

.entry:hover {
    border-color: #e0e7e7;
}
.entry:focus,
.entry:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (max-width: 1200px) {
    .nav {
        /* flex-direction: column; */
        align-items: center;
    }
    
    .logo, .button {
        /* width: 100%; */
        text-align: center;
        margin-bottom: 10px;
    }

    .middle{
        margin-left: auto;
    }
}

@media (max-width: 768px) {
    .nav {
        padding: 20px;
    }
    
    .logo {
        font-size: 24px;
    }
    .home, .about, .contact{
        font-size: 12px;
    }

    .middle{
        gap: 30px;
        margin-left: auto;
    }
}

@media (max-width: 480px) {
    .nav {
        padding: 10px;
        display: flex;
    }

    .nav-button{
        margin: auto;
    }
    
    .logo {
        font-size: 20px;
        text-align: left;
    }

    .entry {
        padding: 8px;
    }

    .home, .about, .contact{
        font-size: 12px;
    }

    .middle{
        gap: 30px;
        margin-left: auto;
    }
    
}
