*{
    box-sizing: border-box;
}
body{
    background-color: rgba(2, 28, 36, 0.767);
}
.quiz-container{
    width: 80%;
    background-image: linear-gradient(to right, rgb(15, 177, 177) ,darkcyan, darkcyan, darkcyan, rgb(105, 226, 226));
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center
}
.quiz-container .btn{
    width: 60px;
    height: 60px;
    background: #254336;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quiz-container .screen{
    width: 80%;
    height: 550px;
    border-radius: 5px;
}
.counter{
    margin: 20px auto;
    position: absolute;
    right: 100px;
}
.quiz-container .screen .question{
    width: 70%;
    background: #DAD3BE;
    margin: auto;
    height: 45%;
    border-radius: 10px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quiz-container .screen .question p{
    color: black;
}
.quiz-container .screen .answers{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quiz-container .screen .answers li{
    list-style: none;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    background: #254336;
    margin: 10px;
}

/*------------------------The css section for the flash card--------------------------------*/

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-radius: 10px;
    background: linear-gradient(to right, #f0f8ff, #e0ffff);
}
.box .wrapper{
    width: 80%;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.box .wrapper .question-index{
    width: 50px;
    height: 50px;
    /* background: rgb(2, 28, 36); */
    background: #ffffff;
    /* color: white; */
    font-size: 20px;
    font-weight: 600;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 170px;
    top: 150px;
}
.box .wrapper .card{
    width: 60%;
    height: 60%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    color: whitesmoke;
    align-items: center;
    /* background: white; */
    background-image: linear-gradient(to right, rgb(15, 177, 177) ,darkcyan, darkcyan, darkcyan, rgb(105, 226, 226));

}
.box .wrapper .card p{
    font-size: 25px;
    text-align: center;
}
.box .wrapper .card.on{
    background-color: rgb(2, 28, 36);
    color: white;
    transition: 1s;
}
.box .wrapper .card.off{
    background: white;
}
.box .wrapper .buttons{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto 0;

}
.box .wrapper .buttons button{
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #0fabab;
    cursor: pointer;
    font-size: 18px;
}
.box .wrapper .buttons .navs{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.box .wrapper .buttons .navs.hide, .box .wrapper .buttons .start.hide{
    display: none;
    transition: 0.3s;

}
.box .wrapper .buttons .navs .active.on{
    background-color: #0fabab;
    color: white;
}
