*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.quiz-parent-cont{
    padding: 50px;
    /* border: 5px solid black; */
}

.quiz-container{
    padding: 20px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    /* margin-top: 2rem; */
    background: rgba(0, 0, 0, 0.02);
    border-radius: 10px;
    border: 1px solid #FFFF55C9;
    min-height: 300px;
    max-height: 90vh;
}

.question-cont{
    text-align: center;
    color: #fff;
}

.prev-and-next-btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 10px; */
}

.quiz-container .question-cont .question, .start-btn.hide{
    display: none;
}



.start-btn{
    padding: 15px;
    border-radius: 5px;
    background-color: #FFFF55C9;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

.start-btn:hover{
    border: 1px solid #fff;
    transition: border 0.3s ease;
}



.quiz-container .btn.start{
    padding: 20px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
    gap: 5px;
}

.counter.start{
    width: 50px;
    height: 50px;
    background: rgb(2, 28, 36);
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 250px;
    top: 120px;
}

.quiz-container .click-to-start{
    font-size: 20px;
    padding-top: 40px;
    /* padding-bottom: 10px; */
    color: #fff;
}

.quiz-container .question-cont .question.start{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.quiz-container .prev-and-next-btn .dshow{
    color: rgba(0, 0, 0, 0.02);
}

.quiz-container .options-cont .answers{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #fff;
    
}
.quiz-container .options-cont .answers li{
   display: none;
}
.quiz-container .options-cont .answers.start li{
    list-style: none;
    /* width: 50%; */
    width: 100%;
    padding: 10px;
    outline: none;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.06);
    margin: 10px;
    text-align: center;
    display: block;
    font-size: 12px;
    border: 1px solid #FFFF55C9;
}



.quiz-container .question-cont .question{
    flex-direction: column;
}

.quiz-container .question-cont .question .quest{
    font-size: 20px;
    padding: 20px;
    word-wrap: break-word;
}



.quiz-container .question-cont  .question .score{
    font-size: 20px;
    position: relative;
}

.answers li {
    cursor: pointer;
    padding: 10px;
    margin: 5px 0;
    list-style: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.answers li:hover{
    border: 1px solid #FFFF55C9;
    transition: border 0.3s ease;
}

.quiz-container .options-cont .answers.start li.correct {
    background: #3cec65; /* green background for correct answer */
}

.quiz-container .options-cont .answers.start li.incorrect {
    background: #f03c4b; /* red background for incorrect answer */
}

.score {
    font-size: 1.5em;
    margin-top: 20px;
}

.completion-message {
    font-size: 1.5em;
    margin-top: 20px;
}

.completion-screen{
    margin: auto;
    color: #fff;
}

.completion-text{
    text-align: center;
    color: #fff;
}

.completion-screen button{
    margin: auto;
}

.completion-btn{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-btn, .home-btn{
    padding: 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    background: #FFFF55C9;
    color: #fff;
}

.cloze-answer{
    padding: 10px;
}

.cloze-input{
    padding: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 15px;

}

.cloze-answer button{
    padding: 10px 15px;
    margin: 20px;
    background: #FFFF55C9;
    color: white;
    border-radius: 10px;
    transition: border 0.2s ease;
}

.cloze-answer button:hover{
    border: 1px solid #fff;
}

@media (max-width: 690px) {
    .quiz-container .options-cont  .question .quest{
        font-size: 15px;
        padding: 10px;
        /* word-wrap: break-word; */
    }
}

/*------------------------The css section for the flash card--------------------------------*/

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-radius: 10px;
}
.box .wrapper{
    width: 80%;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box .wrapper .question-index{
    width: 50px;
    height: 50px;
    background: rgb(2, 28, 36);
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 250px;
    top: 80px;
}
.box .wrapper .card{
    width: 80%;
    /* height: 90%; */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.09);
    border: 1px solid #FFFF55C9;
    padding: 20px;
}

.box .wrapper .card .not-start-card{
    flex-direction: column;
    text-align: center;
    padding: 30px;
    color: #fff;
}

.box .wrapper .card .not-start-card h2{
    font-size: 40px;
}

.box .wrapper .card .not-start-card p{
    padding-top: 30px;
    
}

.box .wrapper .card .flash-card{
    width: 100%;
    color: #fff;
}

.box .wrapper .card .flash-card .inside-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.box .wrapper .card .flash-card .handle_nav_btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box .wrapper .card .num{
    font-size: 16px;
}



.box .wrapper .card .flash-card .handle_nav_btn .hide{
    color: rgba(0, 0, 0, 0.02);
}

.box .wrapper .card .flash-card .handle_nav_btn .prev_btn, .box .wrapper .card .flash-card .handle_nav_btn .next_btn{
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 7px;
    cursor: pointer;
}


.box .wrapper .card .question{
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
.box .wrapper .card.on{
    background-color: rgb(2, 28, 36);
    color: white;
    transition: 1s;
}
.box .wrapper .card.off{
    background: white;
}
.box .wrapper .buttons{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto 0;

}
.box .wrapper .buttons button{
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #FFFF55C9;
    cursor: pointer;
    font-size: 18px;
    background: none;
    color: #FFFF55C9;
}

.box .wrapper .buttons button:hover{
    border: 1px solid #fff;
    transition: border 0.3s ease;
}

.box .wrapper .buttons .navs{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.box .wrapper .buttons .navs.hide, .box .wrapper .buttons .start.hide{
    display: none;
    transition: 0.3s;

}
.box .wrapper .buttons .navs .active.on{
    background-color: #FFFF55C9;
    color: white;
    border: none;
    outline: none;
}

.clk{
    font-weight: 900;
    font-size: 20px;
}

.flash-complete-screen{
    padding: 100px;
}

.completion-screen p {
    color: #fff;
}

