body{
    margin: 0;
    padding: 0;
  }
  .signin-signup-container{
    display: flex;
    height: 100vh;
    box-sizing: border-box;
  }
  .signin-signup-container .logo{
    position: absolute;
    font-size: 35px;
    color: white;
    left: 20px;
  }
  .signin-signup-container .logo span{
    color: rgb(207, 195, 80);
    font-size: 60px;
  }
  .signin-signup-container .left{
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(52, 89, 131);
    color: white;
  }
  .signin-signup-container .left .head{
    font-size: 30px;
    padding-left: 30px;
  }
  .signin-signup-container .left .content{
    width: 80%;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    line-height: 30px;
  }
  .signin-signup-container .right{
    width: 60%;
    background: rgb(5, 21, 43);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .signin-signup-container .right .wrapper{
    width: 60%;
    margin: auto;
    
  }
  .signin-signup-container .right .wrapper .intro{
    font-size: 35px;
    margin-bottom: 40px;
    text-align: center;
    padding-bottom: 30px;
  }
  .signin-signup-container .right .wrapper .details p{
    font-size: 20px;
  }
  .signin-signup-container .right .wrapper .details input{
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    border: none;
    border-radius: 5px;
    background: rgba(128, 128, 128, 0.336);
    color: white;
    font-size: 16px;
  }
  .signin-signup-container .right .wrapper button{
    width: 100%;
    background: rgb(207, 195, 80);
    padding: 20px;
    margin-top: 40px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
  