

.heading{
    text-align: center;
    margin-top: 40px;
}

.container{
    margin: auto;
    width: 70%;
    border: 10px solid darkcyan;
    border-radius: 8px;
}

.file{
    margin: 30px auto;
    padding: 30px;
    width: 80%;
    border: 2px dashed darkcyan;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.file-name{
    display: flex;
    padding-left: 30px;
    gap: 10px;
}

.textarea {
    margin: 30px auto;
    font-size: 15px;
    padding: 30px;
    width: 80%;
    border: 2px solid darkcyan;
    border-radius: 8px;
}



select{
    width: fit-content;
}

.format{
    padding: 10px 30px;
    border-radius: 10px;
    /* width: 100%; */
}



.settings{
    /* display: flex; */
    padding: 30px;
    margin: 10px;
    gap: 20px;
}

.first, .second{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}

.second{
    margin-left: 20px;
}

.submit-container{
    padding: 30px;
}

.submit{
    border-radius: 8px;
    border: 1px solid transparent;
  /* padding: 0.6em 1.2em; */
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    /* margin-left: 20px; */
    margin: auto;
    padding: 10px 30px;
    background: darkcyan;
    /* background: #ebac00; */
    color: #fff;
    width: 120px;
}

.submit:hover {
    border-color: #e0e7e7;
}
.submit:focus,
.submit:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
