*{
    box-sizing: border-box;
}
.container{
    width: 80%;
    background: red;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center
}
.container .btn{
    width: 70px;
    height: 70px;
    background: blue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .screen{
    width: 80%;
    background: green;
    height: 500px;
    border-radius: 5px;
}
.counter{
    margin: 20px auto;
}
.container .screen .question{
    width: 70%;
    background: black;
    margin: auto;
    height: 50%;
    border-radius: 10px;
}
li{
    list-style: none;
}
.container .screen .answers{
    margin-top: 20px;
    display: flex;
}