*{
    box-sizing: border-box;
    color: black;
}
body{
    background-color: #DAD3BE;
}
.container{
    width: 80%;
    background: #6B8A7A;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center
}
.container .btn{
    width: 60px;
    height: 60px;
    background: #254336;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .screen{
    width: 80%;
    height: 550px;
    border-radius: 5px;
}
.counter{
    margin: 20px auto;
    position: absolute;
    right: 100px;
}

.container .screen .question{
    width: 70%;
    background: black;
    margin: auto;
    height: 50%;
    border-radius: 10px;
}
li{
    list-style: none;
}
.container .screen .answers{
    margin-top: 20px;
    display: flex;
}